* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 12px;
    font-weight: 500;
}

/* ----- meme ----- */

.meme--cont{
    margin: 36px;
}
.input--cont{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.input--top{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    margin-right: 10px;
}
.input--bottom{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}
.button-cont{
    display: flex;
    justify-content: center;
}
.meme--button{
    color: white;
    width: 277px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}
.memeimg{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 10px 40px;
}