* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

/* -------- Card --------- */

.container{
    margin-left: 37px;
    margin-right: 17px;
    font-size: 12px;
}
.cardimg{
    width: 176px;
    height: 235px;
}
.subcont1{
    position: relative;
}
.sold{
    position: absolute;
    background-color: white;
    padding: 5px;
    top: 6px;
    left: 6px;
    font-size: 10.24px;
}
.starrow{
    display: flex;
    align-items: center;
    line-height: 0px;
    margin-left: 6px;
}
.starrow p{
    margin-right: 2px;
}
.starrow img{
    margin-right: 2px;
}
.starimg{
    height: 14px;
    width: 14px;
}
.rating{
    font-weight: lighter;
}
.grey{
    color: #918E9B;
}
.content--title{
    margin: 5px 0px;
    font-weight: lighter;
    color: #222222;
    margin-left: 6px;
    
}
.content--price{
    margin: 0px 0px;
    color: #222222;
    margin-left: 6px;
}

.appcont{
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    overflow-x: auto;
}